/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
/*  
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel&family=Cormorant+Garamond:ital,wght@1,300&family=Noticia+Text:ital@1&display=swap");
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Noticia Text', serif;
*/

:root {
  --primary-font: "Noticia Text", serif;
  --heading-font: "Cormorant Garamond", serif;
  --label-font: "Abril Fatface", cursive;
  /* --heading-font:'Cormorant Garamond', serif; */
}

/* :root {
  --heading-font: "Lobster", cursive;
  --primary-font: "Dancing Script", cursive;
} */

html,
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.form-container {
  max-width: 700px;
  min-width: 320px;
  padding: 20px;
  margin: 70px auto;
}

.my-form {
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(252, 0, 168, 0.7),
    rgb(252, 118, 0, 0.7)
  );
  border-radius: 50px;
  font-family: var(--primary-font);
  color: #fff;
}

.my-form label {
  font-size: 19px;
  margin: 20px 10px;
  color: #fff;
}

.my-form input {
  font-size: 18px;
  margin: 20px 10px;
  width: 80%;
  height: 40px;
  border-radius: 100px;
  font-weight: bold;
  outline: none;
  right: 0;
  border: none;
  text-align: center;
  font-family: var(--heading-font);
}

.my-form button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(
    to right,
    rgb(252, 0, 168),
    rgb(252, 118, 0)
  );
  margin: 20px 0;
  font-family: var(--heading-font);
}

button:hover {
  outline: none;
  transform: scale(1.09);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.my-form p {
  font-family: var(--primary-font);
}

@media screen and (max-width: 520px) {
  .my-form label {
    display: none;
  }
  .my-form input {
    width: 85%;
  }
}
